Sudoku for Command Line UI Requirements

FUNCTIONAL
* must display Sudoku grid in a graphical style in a command line interface
* must alow user to select a location on the grid and enter a value into that location.
* must give user options for various "rules" for the game
	ie: allowing/disallowing invalid entries
* must give options for users to start over on the same grid or start a new grid
* must keep track of game statistics such as Time to compleation over multible games and sessions
* must have a way to display user generated notes on a Cell by Cell basis.
* 